/*! standardize.css v4.1.1 | MIT License | vincentleinhos.com/standardize */

/**
 * 1. Reset areas around elements, so you can start from scratch.
 * 2. Make elements ready for flexible layouts. The size of `padding`/`border`
 *    does not matter because these values will be subtracted from the width.
 * 3. Set the `font-size` to a percent of the parent element's font size. This is
 *    a method to manage the dynamic resizing of fonts.
 */
*,
*:before,
*:after {
  margin: 0; /* 1 */
  padding: 0; /* 1 */
  border: 0; /* 1 */
  -webkit-box-sizing: border-box; /* 2 */
  -moz-box-sizing: border-box; /* 2 */
  box-sizing: border-box; /* 2 */
  font-size: 100%; /* 3 */
}

/**
 * 1. Force a vertical scrollbar to prevent annoying problems.
 * 2. [Better font-rendering on OSX]
 *    (http://maximilianhoffmann.com/posts/better-font-rendering-on-osx)
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  overflow-y: scroll; /* 1 */
  -webkit-font-smoothing: antialiased; /* 2 */
  -moz-osx-font-smoothing: grayscale; /* 2 */
  -ms-text-size-adjust: 100%; /* 3 */
  -webkit-text-size-adjust: 100%; /* 3 */
}

/* Clearfix hack (http://nicolasgallagher.com/micro-clearfix-hack/)
   ==========================================================================
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary { /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template, /* 1 */
[hidden] {
  display: none;
}

/* Links (https://www.w3.org/TR/html5/links.html#links)
   ==========================================================================
 * 1. Remove `outline` for better readability.
 * 2. Remove the gray background on active links in IE 10.
 * 3. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  outline: 0; /* 1 */
  background-color: transparent; /* 2 */
  -webkit-text-decoration-skip: objects; /* 3 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Most `ul` tags are not used for enumeration. You could rewrite it in `nav ul`.
 */
ul {
  list-style: none;
}

/**
 * 1. Add the dotted bottom border.
 * 2. For now, don’t use experimental features.
 * 3. Set suitable cursor style.
 */
abbr[title], dfn[title] {
  border-bottom: 1px dotted; /* 1 */
  text-decoration: none; /* 2 */
  cursor: help; /* 3 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Set font style to `normal`.
 */
address {
  font-style: normal;
}

/**
 * 1. Correct the line-height for all headings in Chrome mobile, Firefox,
 *    iOS Safari, Microsoft Edge and IE.
 * 2. [Improved handling of kerning pairs and ligatures in modern browsers]
 *    (http://aestheticallyloyal.com/public/optimize-legibility/)
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15; /* 1 */
  text-rendering: optimizeLegibility; /* 2 */
}

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size.
 */
small {
  font-size: 80%;
}

/**
 * [Prevent `sub` and `sup` elements from affecting the line height]
 * (http://gist.github.com/413930)
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}

/* Embedded content (https://www.w3.org/TR/html5/embedded-content-0.html)
   ========================================================================== */

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/*
 * Set vertical alignment to middle on media elements (aesthetic reasons).
 */
audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/**
 * Flexible media
 * 1. `!important` just in case, to force correct aspect ratio.
 */
img, video {
  max-width: 100%;
  height: auto !important; /* 1 */
}
audio {
  width: 100%;
}

/**
 * Change the fill color to match the text color.
 */
svg {
	fill: currentColor;
}

/* Grouping content (https://www.w3.org/TR/html5/grouping-content.html)
   ========================================================================== */

/**
 * [This hack](http://en.wikipedia.org/wiki/User:Davidgothberg/Test59)
 * corrects the inheritance and scaling of font size.
 * The duplication of 'monospace' is intentional.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/* Forms (https://www.w3.org/TR/html5/forms.html)
   ========================================================================== */

/**
 * NOTE: Chrome and Safari on OS X allow very limited styling of `select`,
 * unless a `border` property is set.
 */

/**
 * 1. Correct font properties not being inherited.
 * 2. Correct color not being inherited.
 * Known issue: affects color of disabled elements.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit; /* 1 */
  color: inherit; /* 2 */
}

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 * 3. Set suitable cursor style.
 */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Set cursor style for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 * NOTE: Necessary despite the reset
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 */
legend {
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  white-space: normal; /* 1 */
  color: inherit; /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * Set suitable cursor style.
 */
input[type="checkbox"],
input[type="radio"] {
  cursor: pointer;
}

/**
 * Remove rounded corners on `input` elements (aesthetic reasons).
 */
input {
  -webkit-border-radius: 0;
  border-radius: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. The search input is not fully stylable by default. In Chrome and Safari
 *    on OSX/iOS you can’t control `font`, `padding`, `border`, or `background`.
 *    In Chrome and Safari on Windows you can’t control `border` properly.
 *    It will apply `border-width` but will only show a border color (which
 *    cannot be controlled) for the outer 1px of that border.
 *    Applying `-webkit-appearance: textfield` addresses these issues without
 *    removing the benefits of search inputs (e.g. showing past searches).
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Tabular data (https://www.w3.org/TR/html5/tabular-data.html)
   ==========================================================================
 * Remove border spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* User interaction (https://www.w3.org/TR/html5/editing.html)
   ==========================================================================
 * Remove the tapping delay on clickable elements.
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
	-ms-touch-action: manipulation; /* 1 */
	touch-action: manipulation;
}